#editor h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#editor img {
  margin: 0.8rem auto;
  border-radius: 4px;
}
#editor h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#editor h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

#editor h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#editor h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#editor h6 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
